html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font: weight 500px;
    font-style: normal;
}

/* header */

.main-container__header {
    background: linear-gradient(90deg, rgba(254, 126, 108, 255) 0%, rgba(255, 72, 89, 255) 100%);
    height: 400px;
    display: flex;
    border-radius: 0px 0px 0px 70px;
    color: white;
    padding-bottom: 5%;
    flex-direction: column;
    justify-content: space-around;
}

.main-container__header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-container__header__nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-container__header__nav__container__logo {
    margin-right: 80px;
}

.main-container__header__nav__container__tabs {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
    }
}

.main-container__header__nav__container__tabs__tab {
    margin-right: 80px;
}

.main-container__header__nav__buttons {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
    }
}

.main-container__header__nav__buttons__login-button {
    background-color: transparent;
    color: white;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.main-container__header__nav__buttons__sign-up-button {
    background-color: white;
    color: rgba(254, 126, 108, 255);
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.main-container__header__container {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.main-container__header__container__start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.main-container__header__container__buttons {
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-around;
    width: 80%;
}

.main-container__header__container__buttons__start-button {
    background-color: white;
    color: rgba(254, 126, 108, 255);
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.main-container__header__container__buttons__learn-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.main-container__header__nav__burguer {
    width: 40px;
    cursor: pointer;

    @media (min-width: 1024px) {
        display: none;
    }
}

/* main */

.main-container__main{
}

.main-container__main__container__title {
    display: flex;
    justify-content: end;
    margin: 80px 20px 80px 0;
}

.main-container__main__container__card {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: row-reverse;
        margin: 120px 0;
    }
}

.main-container__header__container__card--height {
    @media (min-width:1024px) {
        height: 260px;
    }
}

.main-container__main__container__card--direction {
    flex-direction: row;
}

.main-container__main__container__card--without-padding {
    margin: auto;
    padding: 0;
}

.main-container__main__container__card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container__main__container__card__description--gray {
    background-color: rgb(64, 60, 92);
    color: white;
    border-radius: 0 0 0 100px;
    padding: 5%;

    @media (min-width: 1024px) {
        border-radius: 0 40px 0 0;
    }
}

.main-container__main__container__card__description__text {
    margin-bottom: 120px;
    @media (min-width: 1024px) {
        margin: 0;
    }
}

.main-container__main__container__card__background {
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
    top: 1px;
    justify-content: center;
    height: 450px;

    @media (min-width: 1024px) {
        height: auto;
        top: 0;
        background-color: rgb(64, 60, 92);
        border-radius: 0 0 0 40px;
    }
}

.main-container__main__container__card__image {
    width: 100%;
}

.main-container__main__container__card__background__image-2 {
    position: absolute;
    width: auto;
    @media (min-width: 1024px) {
        top: -105px;
    }
}

.main-container__main__container__card__background__piece {
    width: 100%;
    height: 225px;
    background-color: rgb(64, 60, 92);
    border-top-right-radius: 200px;

    @media (min-width: 1024px) {
        border-radius: 0 0 0 40px;
    }
}

/* footer */

.main-container__footer{
    background-color: rgb(64, 60, 92);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    border-radius: 0 100px 0 0;
    text-align: center;
    @media (min-width: 1240px) {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
    }
}

.list__without-padding{
    padding: 0;
}
li{
    list-style: none;
    margin-bottom: 12px;
}